@media screen and (max-width: 768px){
    .product-single__button .btn {
        height: 40px;
    }
    .popup .popup-body {
        padding-bottom: 120px;
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

}



@media (max-width: 991px){
    .site-wrapper {
        padding-top: 80px;
    }
    .product-header__options .option-heading__title, .product-single__options .option-heading__title {
        font-size: 12px;
    }
    .product-header__options .option-select__item, .product-single__options .option-select__item {
        padding: 4px;
    }
    .product-header__options .option-select, .product-single__options .option-select {
        margin-left: -4px;
        margin-right: -4px;
    }
    .product-header__options .option-select__item .checkmark, .product-single__options .option-select__item .checkmark {
        height: 30px;
        border-radius: 12px;
    }
    .product-single__actions {
        padding-top: 12px;
        padding-bottom: 17px;
    }
    .quantity {
        height: 30px;
        border-radius: 12px;
    }

    .product-single__button {
        padding-left: 9px;
    }
    .btn {
        font-size: 12px;
        padding: 0 16px;
        height: 30px;
        border-radius: 12px;
    }
    .product-single__option.is-error {
        padding-left: 10px;
        padding-right: 10px;
    }
    .product-single__option.is-error:after {
        left: 0;
        width: 100%;
    }

    .popup .popup-body {
        left: 50%;
        transform: translateX(-50%);
    }
    .popup .popup-body {
        width: 100%;
        padding: 1rem 1.5rem 2rem;
        top: auto;
        left: 0;
        bottom: 0;
        border: 1px solid #d9d9d9;
        transform: none;
    }

    .size-guide__head {
        width: 100%;
    }
    .size-guide__switch {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        text-align: center;
    }
    .size-suggestion__body-size {
        padding-left: 5px;
        padding-right: 5px;
    }
    .size-suggestion__values>div {
        padding: 0 12px;
        white-space: nowrap;
    }

}