a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    -webkit-box-shadow: inset 0 0 0 9999px hsl(0deg 0% 100% / 0%);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}
[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}
button, input {
    overflow: visible;
}

.text--bold {
    font-weight: 700;
}

.site-wrapper {
    padding-top: 120px;
}

.product-single__option {
    position: relative;
    transition: all .3s;
}
.product-header__options .option-heading, .product-single__options .option-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-header__options .option-heading__sizeguide, .product-single__options .option-heading__sizeguide {
    color: #2f5acf;
}

.product-header__options .option-select__item, .product-single__options .option-select__item {
    padding: 6px;
    min-width: 16.66666667%;
}
.option-heading__title {
    display: flex;
    align-items: center;
}
.product-header__options .option-select, .product-single__options .option-select {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
    position: relative;
}
.product-header__options .option-select__item--color, .product-single__options .option-select__item--color {
    position: relative;
    overflow: hidden;
}
.product-header__options .option-select__item input, .product-single__options .option-select__item input {
    display: none;
}
.product-header__options .option-select__item input:checked~.checkmark, .product-single__options .option-select__item input:checked~.checkmark {
    background-color: #000;
    color: #fff;
}
.product-header__options .option-select__item input:checked~.checkmark:after, .product-header__options .option-select__item input:checked~.checkmark:before, .product-single__options .option-select__item input:checked~.checkmark:after, .product-single__options .option-select__item input:checked~.checkmark:before {
    opacity: 1;
}
.product-header__options .option-select__item .checkmark--color:before, .product-single__options .option-select__item .checkmark--color:before {
    border: 4px solid #fff;
}
.product-header__options .option-select__item .checkmark--color:after, .product-single__options .option-select__item .checkmark--color:after {
    border: 2px solid #2f5acf;
}
.product-header__options .option-select__item .checkmark--color, .product-single__options .option-select__item .checkmark--color {
    background-size: cover;
}
.product-header__options .option-select__item .checkmark--color, .product-single__options .option-select__item .checkmark--color {
    background-repeat: no-repeat;
    background-position: 50%;
}
.product-header__options .option-select__item .checkmark, .product-single__options .option-select__item .checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 16px;
    background-color: #d9d9d9;
    color: #000;
    transition: all .3s;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 5px;
    padding-right: 5px;
}
.product-header__options .option-select__item .checkmark--color:after, .product-header__options .option-select__item .checkmark--color:before, .product-single__options .option-select__item .checkmark--color:after, .product-single__options .option-select__item .checkmark--color:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}
.product-single__actions {
    display: flex;
    align-items: center;
    padding-top: 4px;
}
.quantity {
    display: flex;
    width: 100px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}
.quantity__augure, .quantity__reduce {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 100%;
    line-height: 1em;
}
.quantity input {
    border: 0;
    background-color: transparent;
    pointer-events: none;
    text-align: center;
    flex: 1;
    max-width: 40px;
}
.product-single__button {
    flex: 1;
    padding-left: 14px;
}
.product-single__button .btn {
    position: relative;
    width: 100%;
    transition: all .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 16px;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    padding: 0 30px;
    transition: all .2s;
    cursor: pointer;
}
.btn:hover {
    color: #000;
    background-color: #d9d9d9;
    border: 2px solid #d9d9d9;
}
.product-single__button .btn:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(https://www.coolmate.me/images/icon-cart.svg?708f2c22fb85099a3e6641a2a81b3b67);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 7px;
}







.product-single__policy {
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #d9d9d9; */
}
.product-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: .03em;
}
.product-policy__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 33.33333333%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.product-policy__icon {
    position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
}


.product-button-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 8;
    transform: translateY(100%);
    transition: all .3s;
}
.product-button-fixed.is-active {
    transform: translateY(0);
}
.product-button-fixed .btn {
    width: 100%;
    height: auto;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 0;
    height: 60px;
    font-size: 16px;
}
.product-button-fixed .btn:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(https://www.coolmate.me/images/icon-cart.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 7px;
}
.product-single__button .btn:hover:before {
    background-image: url(https://www.coolmate.me/images/icon-cart-black.svg);
}

.product-page.on-mobile {
    padding-bottom: 40px;
}
.product-single__option.is-error {
    padding-top: 10px;
    padding-bottom: 10px;
}
.product-single__option.is-error:after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: -13px;
    width: calc(100% + 26px);
    height: 100%;
    border: 1px solid #ff3102;
    border-radius: 16px;
}


[rel-script="size-guide-popup"] .popup-body {
    max-width: 650px;
}
.popup-enter-active, .popup-enter-active .backdrop, .popup-enter-active .popup-body, .popup-leave-active, .popup-leave-active .backdrop, .popup-leave-active .popup-body {
    transition: all .3s ease;
}
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}
.popup .popup-body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    max-width: 600px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 2rem;
    border-radius: 16px;
    max-height: 95vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.popup .backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}
.popup .popup-body .close-popup {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}
.size-guide__head {
    display: inline-flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    margin-bottom: 24px;
}
.size-guide__switch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 35px;
    border-radius: 16px;
}
.size-guide__switch.is-current {
    background-color: #d9d9d9;
}
.size-suggestion__body {
    display: flex;
    align-items: center;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 30px;
}
.size-suggestion__body-size {
    width: 33.33333333%;
    padding: 0 8px;
}
.size-suggestion__body-size input {
    display: none;
}
.size-suggestion__body-size.thin span {
    background-image: url(https://www.coolmate.me/images/thin.jpg?f3b74d19afb35ec5ffd09c0e53a7ed19);
}
.size-suggestion__body-size span {
    display: block;
    padding-top: 110.63829787%;
    font-size: 0;
    height: 0;
    width: 100%;
    border-radius: 14px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}
.size-suggestion__body-size.normal span {
    background-image: url(https://www.coolmate.me/images/normal.png?c4ac11551094088636da899ef3075227);
}
.size-suggestion__body-size span {
    display: block;
    padding-top: 110.63829787%;
    font-size: 0;
    height: 0;
    width: 100%;
    border-radius: 14px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}
size-suggestion__body-size.fat span {
    background-image: url(https://www.coolmate.me/images/fat.png?22d288b6a67034965a796c365d670b20);
}
.size-suggestion__body-size span {
    display: block;
    padding-top: 110.63829787%;
    font-size: 0;
    height: 0;
    width: 100%;
    border-radius: 14px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}
.size-suggestion__active {
    position: relative;
}
.size-suggestion__label {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .03em;
    margin-bottom: 20px;
}
.size-suggestion__values {
    display: flex;
    margin-top: -5px;
}
.size-suggestion__values>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 30px;
    padding: 0 25px;
    background-color: #f9f86c;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: .03em;
    color: #000;
    margin-right: 14px;
}

.site-table {
    border-collapse: separate;
    border-spacing: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .03em;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
}
.one-whole {
    width: 100%;
}
.mgb--10 {
    margin-bottom: 10px;
}
.site-table thead {
    position: relative;
    color: #fff;
    border-radius: 16px;
    z-index: 2;
}
.size-table table td:first-of-type {
    padding-left: 18px;
}
.site-table thead td:first-of-type {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.size-table table td {
    padding: 5px 10px;
}
.size-table table td {
    padding: 5px 0;
    height: 42px;
    font-size: 11px;
}
.site-table thead td {
    position: relative;
    z-index: 1;
    background-color: #2f5acf;
}
.site-table td {
    padding: 14px 18px;
}
.size-table table td {
    padding: 5px 0;
    height: 42px;
    font-size: 11px;
}
.site-table tbody {
    z-index: 1;
}
.site-table tbody tr {
    position: relative;
}
.site-table tbody tr td:first-of-type {
    border-bottom-left-radius: 16px;
}
.size-table table td:first-of-type {
    padding-left: 18px;
}
.site-table tbody tr td {
    position: relative;
    border-bottom: 1px solid #d9d9d9;
}
.size-table table td {
    padding: 5px 10px;
}
.size-table table td {
    padding: 5px 0;
    height: 42px;
    font-size: 11px;
}
.site-table td {
    padding: 14px 18px;
}
.site-table tbody tr td {
    position: relative;
    border-bottom: 1px solid #d9d9d9;
}
.size-table table td {
    padding: 5px 10px;
}
.size-table table td {
    padding: 5px 0;
    height: 42px;
    font-size: 11px;
}
.site-table td {
    padding: 14px 18px;
}

.size-table__description {
    margin-top: 27px;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: .03em;
    color: #000;
}

.notify {
    position: fixed;
    top: 20px;
    right: -300px;
    width: 300px;
    transition: all .2s;
    box-sizing: border-box;
    z-index: 99999;
    background: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 8px rgb(0 0 0 / 15%);
    border-radius: 16px;
    padding: 18px;
    touch-action: pan-y;
}
.notify.is-active {
    right: 20px;
}
.notify__close {
    display: none;
}
.notify__message {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .03em;
    color: #000;
    margin-bottom: 0;
}
.notify-product {
    display: flex;
    padding-top: 15px;
    border-top: 1px solid #d9d9d9;
    margin-top: 15px;
    padding-bottom: 5px;
}
.notify-product__thumbnail {
    width: 25%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.notify-product__thumbnail:before {
    content: "";
    display: block;
    padding-top: 147.26507714%;
    height: 0;
    width: 100%;
}
.notify-product__thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.notify-product__content {
    display: flex;
    flex-flow: column;
    width: 75%;
    padding-left: 10px;
}
.notify-product__title {
    flex: 1;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: .03em;
    color: #000;
}
.notify-product__prices {
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
}
.notify-product__options, .notify-product__prices {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: .03em;
    color: #000;
}
.notify-product__prices ins {
    text-decoration: none;
}
.notify .btn {
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
}
.btn--outline {
    background-color: hsla(0,0%,100%,0);
    color: #000;
}